<header class="post-header">
    <a class="blog-logo" href="{{ path('home') }}">
        {% if site.imagelogo %}
            <a class="blog-logo" href="{{ path('home') }}"><img src="{{ site.imagelogo|toresourceurl }}" alt="{{ site.title }}" /></a>
        {% endif %}
        <span class="blog-title">{{ site.title }}</span>
    </a>
</header>